
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.cityWeatherBoxTitle {
  font-size: large; 
  font-weight: bold; 
  margin-bottom: 0px; 
  height: 50px;
}

.cityWeatherBoxTemperature {
  float: left; 
  width: 100%;
}

.cityWeatherBoxTemperature .descriptionSmall{
  display: block; 
  clear: left; 
  font-size: small;
}

.cityWeatherBoxTemperature .descriptionMedium{
  display: block; 
  clear: left; 
  font-size: medium;
}

.cityWeatherBoxTemperature .imageBox {
  display: block; 
  clear: left;
}

.cityWeatherBoxTemperature .imageBox .componentImage {
  float: left;
}

.cityWeatherBoxTemperature .imageBox .componentImage .temp {
  display: block; 
  clear: left; 
  font-size: x-large; 
  font-weight: bold; 
  padding: 0pt 0pt;
}

.cityWeatherBoxTemperature .imageBox .componentImage .atemp {
  display: block; 
  width: 85px; 
  overflow: visible;
}

.cityWeatherBoxMoreLink{
  display: block; 
  clear: left; 
  color: gray; 
  font-size: small;
}

.buttonAdd {
  background-color: #009ACD;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 100%;
  height: 170px;
}

.buttonAdd:hover {
  background-color: #00688B;
}

.right{
	text-align: right;
}

.panel-ctrls .btn-sm{
	margin-top: 13px; 
}

.panel-heading-transparent{
	background-color: transparent!important;
	padding: 0px 10px 0px 0px!important;
	margin: 0!important;
	border: none!important;
}

#progress{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100000;
	height: 3px;
}

#progress-window{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
  z-index: 100000;
	display: none;
	/*background-color: #1ABC9C;*/
}

#progress-window #preview-area {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#progress-window .spinner {
  margin: 0px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

#progress-window .spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#progress-window .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

#progress-window .spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

#progress-window .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

#progress-window .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#progress-bar {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.brighttheme-notice{
	background-color: #f2b610;
}

.brighttheme-success{
	background-color: #31a517;
}

table.table-condensed.table-super-condensed > thead > tr > th, .table-condensed.table-super-condensed > tbody > tr > th, .table-condensed.table-super-condensed > tfoot > tr > th, .table-condensed.table-super-condensed > thead > tr > td, .table-condensed.table-super-condensed > tbody > tr > td, .table-condensed.table-super-condensed > tfoot > tr > td {
    padding: 0px 10px 1px 10px;
}

table.table-striped > tbody > tr:nth-child(even) {
   background-color: #f5f5f5;
}

table.table-condensed.table-super-condensed input.form-control{
	padding: 0px;
	font-size: 12px;
	height: 26px;
	margin-bottom: 3px;
}

table.table .table{
	background: transparent;
	margin: 0;
	padding: 0;
}

table .td-no-margin{
	margin: 0!important;
}

table .td-no-padding{
	padding: 0!important;
}

table .tr-no-border td,
table .tr-no-border th{
	border: none!important;
}

.modal{
	background: rgba(0,0,0,0.7);
}

@media (min-width: 992px){
	.modal-x-lg {
	    width: 990px;
	}
}

@media (min-width: 1200px){
	.modal-x-lg {
	    width: 1150px;
	}
}