<div id="cityWeatherModal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    {{homeController.cityWeather.name}}, {{homeController.cityWeather.sys.country}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <img alt="title" ng-src="http://openweathermap.org/img/w/{{homeController.cityWeather.weather[0].icon}}.png"/>
                    </div>
                    <div class="col-md-10">
                        <div style="font-size: x-large; font-weight: bold; padding: 0pt 0pt; margin-left: 5px">{{homeController.cityWeather.main.temp}}°C</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="font-size: medium;">{{homeController.cityWeather.weather[0].description}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>Clouds: {{homeController.cityWeather.clouds.all}}%</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>Humidity: {{homeController.cityWeather.main.humidity}}%</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>Wind: {{homeController.cityWeather.wind.speed}} m/s</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>Pressure: {{homeController.cityWeather.main.pressure}}hpa</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>