<div id="newCityWeatherModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    New City Weather
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form ng-submit="homeController.submitSearch()">
                        <div class="col-md-8">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Your city name"
                                ng-model="homeController.newCityWeatherSearch">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-info btn-block">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                Search
                            </button>
                        </div>
                    </form>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <tbody>
                            <tr ng-repeat="cityWeather in homeController.citiesWeatherListSearch">
                                <td width="90%">{{cityWeather.name}}, {{cityWeather.sys.country}} &nbsp;<span class="badge">{{cityWeather.main.temp}}°C</span></td>
                                <td width="10%">
                                    <a class="btn btn-info btn-sm" ng-click="homeController.addCityWeather(cityWeather, $index)">
                                        <span class="fa fa-plus"></span>
                                        Add
                                    </a>
                                </td>
                            </tr>
                            <tr ng-show="homeController.citiesWeatherListSearch.length == 0">
                                <td colspan="2">No results.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>