<div class="container-fluid" ng-controller="HomeController as homeController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <span class="ti ti-cloud"></span>
                Cities Weather
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" ng-repeat="cityWeather in homeController.citiesWeatherList">
            <div class="info-tile tile-info" >
                <div class="cityWeatherBoxTitle">{{cityWeather.name}}, {{cityWeather.sys.country}}</div>
                <div class="cityWeatherBoxTemperature">
                    <div class="imageBox">
                        <div class="componentImage">
                            <img alt="Weather Condicions" ng-src="http://openweathermap.org/img/w/{{cityWeather.weather[0].icon}}.png"/>
                        </div>
                        <div class="componentImage">
                            <div class="temp" title="Current Temperature">{{cityWeather.main.temp}}°C</div>
                            <div class="atemp"></div>
                        </div>
                    </div>
                    <div class="descriptionSmall">{{cityWeather.weather[0].description}}</div>
                </div>
                <div class="cityWeatherBoxMoreLink">
                    <a ng-click="homeController.cityWeather = cityWeather" data-toggle="modal" data-target="#cityWeatherModal">More...</a>
                </div>
                <div class="tile-footer">
                    <span class="text-success">
                        <a ng-click="homeController.removeCityWeather($index)">
                            <i class="fa fa-trash"></i> Remove City
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button class="buttonAdd" ng-click="homeController.openModalNewCityWeather()">
                + Add City
            </button>
        </div>
        
    </div>
    <div ng-include="'views/modals/cityWeatherModal.html'"></div>
    <div ng-include="'views/modals/newCityWeatherModal.html'"></div>
</div>